//Manifest
manifest {
    description = 'Transcript Reconstruction and Quantification from Oxford Nanopore RNA sequencing datasets using StringTie and FeatureCounts'
    mainScript = 'main.nf'
    version = '1.0.0'
    author = 'Songeun Lee'
}



//Load base.config by default for all pipelines
includeConfig "$baseDir/conf/slurm.config"



// Capture exit codes from upstream processes when piping
//process.shell = ['/bin/bash', '-euo', 'pipefail']



//Parameters
params {
    // INPUT: Path of fastq.gz directory, reference genome file(.fa) and gene annotation file(.gtf)
    fastq_dir = "/path/to/fastq/gz/dir"                            
    ref_genome = "/path/to/ref/genome/fasta"                                                                                                    
    genome_annot = "/path/to/genome/annot/gtf"      

    // OUTPUT: Path of output and trace directory
    out_dir = "/output/dir/path"
    trace_dir = "run/info/dir/path" 
        
    // RUN OPTION: Minimap2 (https://github.com/lh3/minimap2)
    rna_type = "direct_rna"                                   // Long-read RNA-seq technologies(case-insensitive): "direct_rna" is 'Direct RNA'; "cdna" is traditional full-length cDNA 
    num_of_top_secondary_mapping = 10                   // -N option; Check out Minimap2 git repo
    secondary_mapping_min_chaining_ratio = 0.85         // -p option; Check out Minimap2 git repo

    // RUN OPTION: FeatureCounts 
    // (https://bioconductor.org/packages/release/bioc/vignettes/Rsubread/inst/doc/SubreadUsersGuide.pdf)
    fcnts_strand = 0                                    // -s option: Indicate if strand-specific read counting should be performed; 0 (unstranded; default), 1 (stranded) and 2 (reversely stranded)
    min_overlapping_bases = 1                           // --minOverlap option: Minimum number of overlapping bases in a read that is required for read assignment (default: 1) 
    feature_type = "exon,transcript"                    // -t option: Specify the feature type(s); 'exon'(default) or 'transcript' 
                                                        //          If more than one feature type is provided, they should be separated by ','(no space)
}



//Trace and report
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')


trace {
    enabled = true
    file = "${params.trace_dir}/execution_trace_${trace_timestamp}.txt"
}


report {
    enabled = true
    file = "${params.trace_dir}/execution_report.html"
}



