//Manifest
manifest {
    description = 'Transcript Reconstruction and Quantification from Oxford Nanopore RNA sequencing datasets using StringTie and FeatureCounts'
    mainScript = 'main.nf'
    version = '1.0.1d'
    author = 'Songeun Lee'
}



//Load base.config by default for all pipelines
includeConfig "$baseDir/conf/slurm.config"



// Capture exit codes from upstream processes when piping
//process.shell = ['/bin/bash', '-euo', 'pipefail']



//Parameters
params {
    // INPUT: Path of fastq.gz directory, reference genome file(.fa) and gene annotation file(.gtf)
    fastq_dir = ""                            
    ref_genome = ""                                                                                                    
    genome_annot = ""      

    // OUTPUT: Path of output and trace directory
    out_dir = ""
    trace_dir = "" 
        
    // RUN OPTION: Minimap2 (https://github.com/lh3/minimap2)
    rna_type = "direct_rna"                             // 'direct_rna' or 'cdna' (case-insensitive)
    num_of_top_secondary_mapping = 10                   // -N option
    min_chaining_score_ratio = 0.85                     // -p option

    // RUN OPTION: FeatureCounts 
    // (https://bioconductor.org/packages/release/bioc/vignettes/Rsubread/inst/doc/SubreadUsersGuide.pdf)
    fcnts_strand = 0                                    // -s option: 0 (unstranded; default), 1 (stranded) or 2 (reversely stranded)
    min_overlapping_bases = 1                           // --minOverlap option (default: 1) 
    feature_type = "exon,transcript"                    // -t option: 'exon'(default) and/or 'transcript' 
                                             
}



//Trace and report
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')


trace {
    enabled = true
    file = "${params.trace_dir}/execution_trace_${trace_timestamp}.txt"
}


report {
    enabled = true
    file = "${params.trace_dir}/execution_report.html"
}



