//Conda environment
conda {
    cacheDir = ""           
    useMamba = true
    createTimeout = '1h'
}



//Resource setting
process {
    executor = 'slurm'                          //Pipeline runs using slurm
    queueSize = 500    
    errorStrategy = 'retry'
    maxRetries = 3
    conda = "$baseDir/envs/environment.yaml"
      

    withName: MINIMAP2_CREATE_MMI {
        cpus = 3
        memory = { 20.GB * task.attempt }
        time = '2h'  
    }

    withName: MINIMAP2_ALIGN_READ {
        cpus = 4
        memory = { 20.GB * task.attempt }
        time = '2h'
    }

    withName: SAMTOOLS_SAM_TO_BAM {
        cpus = 4
        memory = { 5.GB * task.attempt }
        time = '2h'  
    }

    withName: BAMTOOLS_SPLIT_BAM {           //Bamtools commands are single-threaded
        cpus = 1
        memory = { 5.GB * task.attempt }
        time = '2h'
    }

    withName: PICARD_MERGE_BAM {
        cpus = 5
        memory = { 30.GB * task.attempt }
        time = '12h'
    }

    withName: STRINGTIE_CREATE_GTF {
        cpus = 3
        memory = { 5.GB * task.attempt }
        time = '2h'
    }

    withName: FCNTS_QUANT_TRANSCRIPT {
        cpus = 3
        memory = { 5.GB * task.attempt }
        time = '2h'
    }
}
